<h1>Add a new artist</h1>

<form action="/artists" method="post">
  <div class="form-group">
    <label for="artist_name" >Artist name</label>
    <input id="artist_name" name="artist_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add artist</button>
</form>

<p><a href="/artists">Return to artist list</a></p>
<p><a href="/">Return home</a></p>
